body {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial';
}
div#interface {
    background-color: rgb(213, 218, 219);
    width: 90%;
    margin: -5px auto auto auto;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}
header#cabecalho {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto auto auto;
    padding: 10px;
}
section#conteudo {
    margin: 10px auto 10px auto;
}
form#txt-base, form#txt-cifra {
    border: 1px solid black;
    border-radius: 5px;
    width: 48%;
    padding: 10px;
    text-align: center;
    height: 300px;
}
form#txt-base {
    float: left;
}
form#txt-cifra {
    float: right;
}
form textarea {
    height: 240px;
    width: 500px;
    margin-bottom: 10px;;
}
.button {
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    background-color: slategrey;
    color: white;
    box-shadow: 0px 0px 2px black;
}
div#both {
    clear: both;
    margin: 0px;
    padding: 0px;
}
footer#rodape {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto auto auto;
    padding: 50px;
    text-align: center;
}
